<html>
<script>
    var http = new XMLHttpRequest();
    function volume(type){ http.open('GET', '/'+type); http.send(); }
</script>
<h1>remotevolume</h1>
<button onclick='volume("up")'>Up</button>
<button onclick='volume("down")'>Down</button>
</html>
