<html>
<script>
    var http = new XMLHttpRequest();
    function up(){ http.open('GET', '/up', false); }
    function down(){ http.open('GET', '/down', false); }
</script>
<h1>remotevolume</h1>
<button onclick='up()'>Up</button>
<button onclick='down()'>Down</button>
</html>
